* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  padding: 0 1rem;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.link:hover {
  color: #fff;
}

h1,
h2,
h3,
thead,
tbody {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}

.word {
  font-family: "Courier New", Courier, monospace;
}

.error {
  color: #ff0000;
  font-size: 14px;
}

#chance {
  font-weight: bold;
}

.btn {
  margin: 10px;
}
